<h3>フォロー</h3>

<% if @following_users.present? %>
  <table class = "table">
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @following_users.each do |following_user| %>
      <tr>
        <td><%= attachment_image_tag(following_user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
        <td><%= following_user.name %></td>
        <td>フォロー数： <%= following_user.following.count %></td>
        <td>フォロワー数： <%= following_user.followed.count %></td>
        <td><%= link_to "show", user_path(following_user) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>誰もフォローしていません</p>
<% end %>
